@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}

body {height: 100%; width: 100%; font: 16px 'Open Sans', sans-serif;} 

:root {
	
	--cor1: #628599;
	--cor2: #961B1F;
	--cort: #677279;
	--corf: #F3F5F7;
	--corb: #D3DCE2;
}

/* ASIDE */

aside {
	background-color: var(--corf);
}

aside h1 {
	padding: 10px 15px;
	border-top: 1px solid #ffffff;
	text-align: center;
	font-size: 1.2em;
	background-color: var(--cor1);
	color: #FFFFFF;
	cursor: pointer;
}

aside h1:hover {
	background-color: var(--cor2);
}

aside h2 {
	font-size: 1.3em;
	padding: 15px 20px;
	color: var(--cor1);
}

aside h3 {
	font-size: 1em;
	padding: 15px 20px;
	color: var(--cor1);
}

aside p {
	padding: 5px 20px;
	line-height: 1.5em;
	text-align: justify;
	color: var(--cort);
}

aside ol, aside ul {
	padding: 10px 20px 10px 35px;
	line-height: 1.5em;
	text-align: left;
	color: var(--cort);
}

footer {
	background-color:var(--corb);
}

footer h1 {
	color: var(--cor1);
	font-size: 1.3em;
	text-transform: uppercase;
	padding-bottom: 10px;
}

footer p {
	padding: 5px 0px;
	color: var(--cort);
	line-height: 1.7em;
}

div#conteudo-rodape {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

p#final {
	padding: 0;
	background-color: #000000;
	text-align: center;
	color: #FFFFFF;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
}